.header {
    border: 2px solid black;
    background-size: cover;
    background-position: top;
    
}

.header_bgr {

    background: linear-gradient(89.83deg, #FFFFFF 14.24%, #FFFFFF 14.25%, rgba(255, 255, 255, 0) 99.55%);
}