.nav_menu {
    display: flex;
    text-align: center;
}

.brandname {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    letter-spacing: 0.1px;

    /* text-color */
    margin-top: 10px;
    padding-right: 71px;
    color: #252B42;
}

.nav_items{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-right: 180px;
}

.nav_item {
    text-decoration: none;
    color: #737373;
    margin: 0 21px 0 0;
}

.login {

    width: 43px;
    height: 22px;
    margin-right: 50px;
    margin-top: 17px;
}

.header_btn {
    width: 138px;
    height: 52px;
    
}

.header_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;

    /* primary-color */
    
    background: #FC724D;
    border-radius: 5px;
}

.header_btn p {
    color: #ffffff;
    padding-right: 10px;
}